<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.meimall.front.content.dao.persist.mapper.CategoryMapper">

    <!-- List<CategoryListItemVO> list(); -->
    <select id="list" resultMap="ListResultMap">
        SELECT
            <include refid="ListQueryFields"/>
        FROM
            content_category
        WHERE
            enable=1 AND is_display=1
        ORDER BY
            sort DESC, id DESC
    </select>

    <sql id="ListQueryFields">
        <if test="true">
            id, name, keywords, sort, enable, is_display
        </if>
    </sql>

    <resultMap id="ListResultMap"
               type="cn.tedu.meimall.front.content.pojo.vo.CategoryListItemVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="keywords" property="keywords"/>
        <result column="sort" property="sort"/>
        <result column="enable" property="enable"/>
        <result column="is_display" property="isDisplay"/>
    </resultMap>

</mapper>
